{% extends "base.html" %}

{% block content %}
<div class="container">
    <form id="new-blog" method="post" action="/blogs/new">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" id="title" name="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" type="text" id="description" name="description" placeholder="Enter description">

        </div>
        <button class="btn btn-primary" type="submit" id="submit-button">Create blog</button>

    </form>
</div>

{% endblock %}